<article class="top-slider__slide top-slide swiper-slide @@modif flex --align-center --just-center" 
data-productname="@@name"
data-modif="@@modif"
data-hash="@@picture.link">
    <div class="top-slide__pictures flex --align-center --just-center">
        <img 
        class="top-slide__picture-main"
        src="img/products/@@picture.link.png" 
        alt="Фото @@picture.alt">
        <img 
        class="top-slide__picture-sub"
        src="img/products/sub-@@picture.link.png" 
        alt="">
    </div>
    <div class="top-slide__info flex --align-str --just-end">
        <h3 class="top-slide__title">МАСЛО "@@name"</h3>
        <p class="top-slide__descr">@@description</p>
        @@include('../counter/_counter.html', {
            'bem_class':"top-slide__counter",
            'name': "counter__btn-slider",
            'id':@@id
        })
        <div class="top-slide__buttons flex --align-center">
            <a href="#@@modif" class="top-slide__buttons-link">@@include('../button/_button.html', {
                "class":{"bem__elem":"top-slide__btn"},
                "type": "button",
                "text": "ПОДРОБНЕЕ"
            })</a>
            @@include('../button/_button.html', {
                "class":{"bem__elem":"top-slide__btn-cart"},
                "type": "button",
                "text": "В КОРЗИНУ",
                "name": "product-card__btn-cart__slider"
            })
        </div>
    </div>
</article>