.about {
    max-width: 96rem;
    margin: 5rem auto 0;
    scroll-margin-top: 12rem;
    &-title {
        width: 100%;
        text-align: center;
    }
    &-container {
        position: relative;
        width: 100%;
        min-height: 25rem;
        margin-top: 2rem;
    }
    &-container__text {
        position: absolute;
        min-height: 21rem;
        max-width: 59rem;
        padding: 3rem;
        line-height: 1.5rem;
        font-weight: 300;
        background-color: #fff;
        box-shadow: var(--shadow__about-block);
        z-index: 0;
    }
    &-container__text-descr {
        margin-top: 1rem;
    }
    &-container__picture {
        position: absolute;
        object-fit: cover;
        height: inherit;
        width: 32rem;
        min-height: 22rem;
        z-index: -1;
    }
    &-container__background {
        position: absolute;
        min-height: 22rem;
        width: 12rem;
        background: var(--color__salat-light);
        z-index: -2;
    }
    .picture_we {
        top: 0;
        left: 7rem;
        right: auto;
    }
    .background_we {
        bottom: 0;
        left: 0;
    }
    .picture_do {
        top: 0;
        right: 7rem;
        left: auto;
    }
    .background_do {
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .about {
        scroll-margin-top: 1rem;
        padding: 4rem;
        &-container {
            justify-content: center;
            align-items: center;
            margin-top: 20rem;
        }
        &-container__text {
            position: static;
            max-width: 39rem;
            padding: 3rem;
            &.we {
                margin-left: 5rem;
            }
            &.do {
                margin-right: 5rem;
            }
        }
        &-container__picture {
            width: 27rem;
        }
        &-container__background {
            height: 9rem;
        }
        .picture_we {
            top: -15rem;
            left: auto;
        }
        .background_we {
            top: -12rem;
            left: auto;
            margin-right: 30rem;
        }
        .picture_do {
            top: -15rem;
            right: auto;
        }
        .background_do {
            top: -12rem;
            right: auto;
            margin-left: 30rem;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .about {
        scroll-margin-top: 5rem;
        padding: 0;
        &-container {
            display: flex;
            justify-content: center;
            margin-top: 20rem;
        }
        &-container__text {
            position: static;
            max-width: 20rem;
            padding: 1rem;
            &.we {
                margin-left: 0;
            }
            &.do {
                margin-right: 0;
            }
            h3 {
                text-align: center;
            }
        }
        &-container__picture {
            width: 16rem;
            min-width: 10rem;
            min-height: 5rem;
        }
        &-container__background {
            width: 18rem;
            height: 12rem;
        }
        &-container__text-descr {
            font-size: 0.8rem;
            text-align: center;
        }
        .picture_we {
            top: -13rem;
            left: auto;
        }
        .background_we {
            top: -10rem;
            left: auto;
        }
        .picture_do {
            top: -13rem;
            right: auto;
        }
        .background_do {
            top: -12rem;
            right: auto;
        }
    }
}