.delivery {
    max-width: 120rem;
    margin: 4.5rem auto 0;
    scroll-margin-top: 12rem;
    flex-direction: column;
    &__part {
        background-color: var(--color__delivery-bc);
        flex: 0 0 auto;
        height: 6rem;
        width: 50%;
        position: relative;
        margin-right: auto;
    }
    &__part:last-child {
        margin-top: 2.5rem;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 5rem;
    }
    &__part-pic__one {
        position: absolute;
        left: 10rem;
        top: 4rem;
        z-index: 1;
    }
    &__part-pic__two {
        position: absolute;
        right: 10rem;
        bottom: 3rem;
        z-index: 1;
    }
    &__part-img {
        margin-bottom: 1.5rem;
    }
    &__pic {
        text-align: center;
    }
    &__pic-descr {
        text-align: center;
    }
    &__part-title {
        min-height: 100%;
        line-height: 6rem;
        background-color: #fff;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .delivery {
        &__part {
            font-size: 0.8rem;
            width: 80%;
        }
        &__part:last-child {
            margin-top: 5rem;
        }
        &__part-pic__one {
            left: 0;
            top: 5rem;
        }
        &__part-pic__two {
            right: 0;
            bottom: 4rem;
        }
        &__part-img {
            height: 80%;
            width: 80%;
        }
    }
}