.testimonials {
    padding: 0 2.5rem;
    max-width: 96rem;
    margin: 5rem auto 0;
    scroll-margin-top: 12rem;
    &-title {
        width: 100%;
        text-align: center;
        margin-top: 5rem;
    }
    .swiper-slide {
        border-radius: 0.5rem;
        img {
            width: 100%;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all 0.24s;
        }

    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        color: var(--color__salat);
        transition: all 0.24s;
        outline: none;
        &:hover {
            background-color: rgb(255, 255, 255);
            opacity: 0.5;
        }
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--color__salat);
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .testimonials {
        .swiper-slide {
            display: flex;
            justify-content: center;
            img {
                width: 75%;
            }
        }
        .swiper-pagination {
            bottom: 0;
        }
    }
}