<section class="contacts" id="contacts">
    <h2 class="contacts-title">
        Контакты
    </h2>
    <article class="contacts-container flex --align-center --just-end">
        <div class="contacts-container__text">
            <p>
                <a href="#">
                    <img src="../../img/contacts/phone.svg" alt="">
                </a>
                <a href="#">
                    <phone>+38 (066) 11-43-558</phone>
                </a>
            </p>
            <p>
                <a href="#">
                    <img src="../../img/contacts/facebook.svg" alt="">
                </a>
                <a href="#">https://www.facebook.com/r.olio8/</a>
            </p>
            <p>
                <a href="#">
                    <img src="../../img/contacts/instagram.svg" alt="">
                </a>
                <a href="#">https://www.instagram.com/r.olio_/</a>
            </p>
            <p>
                <a href="#">
                    <img src="../../img/contacts/telegram.svg" alt="">
                </a>
                <a href="#">https://t.me/r_olio</a>
            </p>
            <p>
                <a href="#">
                    <img src="../../img/contacts/viber.svg" alt="">
                </a>
                <a href="#">+38 (066) 11-43-558</a>
            </p>
            <button class="button" type="button">Написать нам</button>
        </div>
        <img 
            class="contacts-container__picture" 
            src="img/contacts/contacts-1.png" 
            alt="Фото Масла на столе">
        <div class="contacts-container__background"></div>
    </article>
</section>