<section class="testimonials" id="testimonials">
    <h2 class="testimonials-title section-title">
        ОТЗЫВЫ
    </h2>
    <div class="swiper bot-slider__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-1.png" 
                alt="Хлебпром">
            </div>
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-2.png" 
                alt="Алькор и Ко">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-3.png" 
                alt="Питер-Лизинг">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-4.png" 
                alt="Хлебпром">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-5.png" 
                alt="Алькор и Ко">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-6.png" 
                alt="Питер-Лизинг">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-7.png" 
                alt="Хлебпром">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-8.png" 
                alt="Алькор и Ко">
            </div>            
            <div class="swiper-slide">
                <img 
                class="bot-slide__picture"
                src="img/testimonials/testimonials-9.png" 
                alt="Питер-Лизинг">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>